@page
@model RecruitCatBatraha.Pages.Companies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Company</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.CompanyId" />
            <div class="form-group">
                <label asp-for="Company.name" class="control-label"></label>
                <input asp-for="Company.name" class="form-control" />
                <span asp-validation-for="Company.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.positionName" class="control-label"></label>
                <input asp-for="Company.positionName" class="form-control" />
                <span asp-validation-for="Company.positionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.minimumSalary" class="control-label"></label>
                <input asp-for="Company.minimumSalary" class="form-control" />
                <span asp-validation-for="Company.minimumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.maximumSalary" class="control-label"></label>
                <input asp-for="Company.maximumSalary" class="form-control" />
                <span asp-validation-for="Company.maximumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.startDate" class="control-label"></label>
                <input asp-for="Company.startDate" class="form-control" />
                <span asp-validation-for="Company.startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.location" class="control-label"></label>
                <input asp-for="Company.location" class="form-control" />
                <span asp-validation-for="Company.location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.isFortune500" class="control-label"></label>
                <input asp-for="Company.isFortune500" class="form-control" />
                <span asp-validation-for="Company.isFortune500" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.IndustryID" class="control-label"></label>
                <select asp-for="Company.IndustryID" class="form-control" asp-items="ViewBag.IndustryID"></select>
                <span asp-validation-for="Company.IndustryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
