@page
@model RecruitCatBatraha.Pages.OurTeamModel
@{
}
<style>
    img {
        width: 150px !important;
        height: 150px;
    }

    .nameAndDesignation {
        position: relative;
        top: 30px;
    }

    .infoContainer {
        margin-bottom:20px;
    }

    .card {
        height: 400px;
        padding:5px;
    }
    h2 {
            background-color: cadetblue;
    color: white;
    padding: 10px;
    }
</style>
<h2>Meet our amazing team</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="infoContainer">
            <img src="~/himalaya_pic.jpg" class="card-img-top" alt="..." />
            <div class="nameAndDesignation d-inline-block">       
                <h3 class="d-block subheading">Himalaya B.</h3>
                <span class="d-block">CEO | Founder</span>
                    <a href="https://www.linkedin.com/in/himalaya-batra-38297088/" target="_blank" type="button" class="btn btn-outline-primary btn-sm">Connect LinkedIn</a>
            </div>
            </div>
            <p>
                Himalaya has rich experience in different domains of industries. He knows what are the aspirations of job seekers and what are the requirements of industries. His main motto is to reduce this gap and thats what he is doing best from his organization. he s leading this organization since start and has around 10 years of experience in recruitment agency.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="infoContainer">
            <img src="~/Nagesh.jpg" class="card-img-top" alt="..." />
            <div class="nameAndDesignation d-inline-block">
               
                <h3 class="d-block subheading">Nageswar R.</h3>
                <span class="d-block">Marketing Head</span>
                    <a href="https://www.linkedin.com/in/himalaya-batra-38297088/" target="_blank" type="button" class="btn btn-outline-primary btn-sm">Connect LinkedIn</a>
            </div>
            </div>
            <p>Nishant’s passion is to work with clients and users to improve access to all digital platforms and content. With a deep commitment to expanding his knowledge and skills as the field develops, he continues to provide top notch analysis and solutions to our customers.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="infoContainer">
            <img src="~/Gautam_Adani.jpg" class="card-img-top" alt="..." />
            <div class="nameAndDesignation d-inline-block">
                
                <h3 class="d-block subheading">Aman W.</h3>
                <span class="d-block">Career Services Head</span>
                    <a href="https://www.linkedin.com/in/himalaya-batra-38297088/" target="_blank" type="button" class="btn btn-outline-primary btn-sm">Connect LinkedIn</a>
            </div>
            </div>
            <p>Aman’s passion is to work with clients and users to streamline their career path in alignment with their skills and future job aspirations.He has worked as technical recruiter in the companies so he knows best what company looks for in the candidate and what is the exact recruitement process. So he is the best guide in your journey from your dream to your job.</p>
        </div>
    </div>
</div>